h1{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}
nav a {
    padding: 5px 10px;    
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 20px;
}
nav a:visited, a:link {
    color: #121a20;
}
nav a:hover {
    color: lightcyan;
    background-color: rgb(134, 132, 132);
}
nav a.active {
    color: lightseagreen;
}